name: Build Windows EXE

on:
  push:
    branches: [ "main" ]
  # 允许手动触发
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt

    - name: Build EXE
      run: |
        # 使用 -F 打包成单文件
        pyinstaller -F -n SGAutoLoginTool --collect-all ddddocr --clean main.py

    - name: Package files
      run: |
        # 1. 创建一个临时文件夹用来存放要打包的文件
        New-Item -ItemType Directory -Force -Path package_dist
        
        # 2. 复制生成的 EXE 文件到该文件夹
        Copy-Item -Path "dist\SGAutoLoginTool.exe" -Destination "package_dist\"
        
        # 3. 复制 config_template.json 到该文件夹
        #    (如果你想改名为 config.json 给用户直接用，可以修改 -Destination 为 config.json)
        Copy-Item -Path "config_template.json" -Destination "package_dist\config.json"
        
        # 4. 将文件夹压缩为 zip
        Compress-Archive -Path "package_dist\*" -DestinationPath "SGAutoLoginTool_Windows.zip"

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: SGAutoLoginTool_Windows_Zip
        path: SGAutoLoginTool_Windows.zip
        retention-days: 5

    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        # 注意这里改成了 zip 文件的路径
        files: SGAutoLoginTool_Windows.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}