name: Build Windows EXE

on:
  push:
    branches: [ "main" ]  # 当推送到 main 分支时触发

jobs:
  build:
    runs-on: windows-latest  # 使用 Windows 环境

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10" # 建议用 3.8 - 3.10，太高版本有时 ddddocr 兼容性不好

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install -r requirements.txt

    - name: Build EXE
      # 注意：这里加上了 --collect-all ddddocr 防止漏掉模型文件
      run: |
        pyinstaller -F -n AutoLoginTool --collect-all ddddocr main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: SGAutoLoginTool_Windows
        path: dist/SGAutoLoginTool.exe